<application>
	<name>optical flow computation</name>

	<dependencies>
	</dependencies>

	<module>
	   <name>lk</name>
	   <parameters>--L</parameters>
	   <node>local</node>
	   <tag>optflowCompute</tag>
	</module>
	<module>
	   <name>ofviewer</name>
	   <node>local</node>
	   <tag>optflowView</tag>
	</module>
	<module>
	   <name>yarpview</name>
	   <parameters>--name /optflow/viewer:i --synch </parameters>
	   <node>local</node>
	   <tag>optflowDisplay</tag>
	</module>

	<connection>
	  <from>/icub/retina0:o</from>
	  <to>/optflow/events:i</to>
	  <protocol>tcp</protocol>
	</connection>
	<connection>
	  <from>/optflow/vectors:o</from>
	  <to>/optflow/vectors:i</to>
	  <protocol>tcp</protocol>
	</connection>
	<connection>
	  <from>/optflow/viewer:o</from>
	  <to>/optflow/viewer:i</to>
	  <protocol>tcp</protocol>
	</connection>
</application>
