[submodule "importRosbagSubmodule"]
	path = python/bimvee/importRosbagSubmodule
	url = https://github.com/event-driven-robotics/importRosbag
	branch = master
	update = merge
[submodule "bimvee"]
	path = python/bimvee
	url = https://github.com/event-driven-robotics/bimvee
	branch = master
	update = merge
[submodule "mustard"]
	path = python/visualizer
	url = https://github.com/event-driven-robotics/mustard
	branch = master
	update = merge