#this file is created by QT creator IDE
CMakeLists.txt.user
CMakeLists.txt.user.*
*.autosave
*.orig

# ignore all temporary files
*~

#ignore objects and .a files
*.[oa]

#ignore the build directory
build/
build-x86_64/
build-ubuntu/

#the pc104 build which we only want on the iCub14
build-pc104/

*.autosave
.idea/
